<div class="container">
  <nav class="top-nav">
    <ul class="top-nav-list">
      <li class="top-nav-list__item top-nav-list__item--brand">
        <h1 class="nav-brand">
          SQLite EZ
        </h1>
      </li>
      <li class="top-nav-list__item">
        <button class="file-btn" {{action 'createFile'}}>Create Database</button>
      </li>
      <li class="top-nav-list__item">
        <button class="file-btn" {{action 'openFile'}}>Open Database</button>
      </li>
    </ul>

  </nav>

  {{#if dbPath}}
    <h2 class="file-status">Currently Open: <code class="file-status__path">{{dbPath}}</code></h2>
  {{else}}
    <h2 class="file-status file-status--error">No database is currently open.</h2>
  {{/if}}

  {{!-- <div class="row">
    {{#if errMsg}}
      {{#bs-alert type="danger"}}{{errMsg}}{{/bs-alert}}
    {{/if}}

    {{#if successMsg}}
      {{#bs-alert type="success"}}{{successMsg}}{{/bs-alert}}
    {{/if}}

    {{#if loading}}
      {{#bs-alert type="info"}}Loading Query Results...{{/bs-alert}}
    {{/if}}
  </div> --}}

  <div class="workspace">
    <div class="editor">
      {{#if db}}
      <form {{action "submitQuery" query on="submit"}} class="query-workspace">
        {{ivy-codemirror
          mode="sql"
          value=query
          lineNumbers=true
          lineWrapping=true
          tabSize=2
          smartIndent=true
          theme="lesser-dark"}}
        <div class="query-workspace__actions">
          <button class="query-btn">Submit</button>
        </div>
      </form>
      {{/if}}
    </div>

    {{results-table results=results}}
  </div>
</div>
